spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto = update
spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/guru
spring.datasource.username=abc
spring.datasource.password=xyz
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

spring.datasource.testWhileIdle = true
spring.datasource.validationQuery = SELECT 1

# override with actual username and token
telegram.upscBotUsername = bot_name
telegram.upscBotToken = bot_token

server.webUrl = http://localhost:8080