.tasks-page .header {
  padding-top: 10px;
  padding-left: 0; }
  .tasks-page .header h4 {
    display: inline-block;
    font-weight: 300;
    font-size: 20px; }

.tasks-page .body {
  padding-top: 10px; }
  .tasks-page .body button {
    margin-bottom: 10px; }
  .tasks-page .body .completedText {
    color: #dadada; }
  .tasks-page .body .circularButtonView {
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #B9BCC0;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: transparent;
    color: #B9BCC0;
    fill: #B9BCC0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    height: 30px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    transition: border 200ms,box-shadow 200ms,color 200ms;
    width: 30px; }
  .tasks-page .body .circularToggleButtonView-button {
    border: 1px solid #B9BCC0;
    fill: #CDCFD2;
    padding: 2px; }
    .tasks-page .body .circularToggleButtonView-button .circularButtonView-label {
      display: block;
      align-self: center; }
    .tasks-page .body .circularToggleButtonView-button.completed {
      border-color: #D4F2E8;
      background-color: #D4F2E8;
      color: #fff;
      fill: #fff; }
  .tasks-page .body .circularButtonView--xsmall {
    height: 20px;
    width: 20px; }

.ig-tats-hr {
  display: flex;
  width: 100%;
  margin: 0 0 0 -15px; }
  .ig-tats-hr .start-hr {
    background-color: #EFB70A;
    height: 3px;
    padding: 0;
    width: 25%; }
  .ig-tats-hr .end-hr {
    background-color: #dadada;
    height: 2px;
    padding: 0;
    flex: 1; }
